.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

    select {
        margin-right: 10px;
        border: solid 1px #c0c0c0;
        border-radius: 4px;
        line-height: 1;
        padding: 10px;

    }

    button {
        display: block;
        padding: 10px;
        border: solid 1px #c0c0c0;
        border-radius: 4px;
        margin-right: 5px;
        min-width: 30px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }


    .active {
        background-color: teal;
        color: #fff;
    }

    .disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

}