.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
    background-color: white;

    .page_title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .item {
        margin: 5px 0;
        padding: 10px;
        border: solid 1px #ccc;
    border-radius: 5px;
    }
}